@model MovieViewModel
@{
    ViewData["Title"] = "Update";
}

<h2>Update</h2>
<br />
<h3 class="text-danger">@TempData["apiError"]</h3>
<br />
<div class="table">
    <form asp-controller="Movie" asp-action="Update" method="post">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title goes here" value="@Model.Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Director">Director</label>
            <input asp-for="Director" class="form-control" placeholder="Director's name goes here" value="@Model.Director" />
            <span asp-validation-for="Director" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate">Release Date</label>
            @Html.TextBoxFor(x => x.ReleaseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            <span class="text-danger">@TempData["dataError"]</span>

        </div>
        <div class="form-group">
            <input asp-for="Id" value="@Model.Id" type="hidden" />
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

